@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000046;
    background: -webkit-linear-gradient(to top, #000046, #1cb5e0);
    background: linear-gradient(to top, #FF9800, #6e2d97) no-repeat;
    height: 100vh;
    box-sizing: border-box;
}

.main-container {
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 45em;
    margin: 15px auto;
    width: 92%;
    background: white;
    box-shadow: 0px 0px 5px 0px white;
}

.tab {
    overflow: hidden;
}

.tab button.active {
    background-color: #f38f0d;
    color: white;
}

.tablinks {
    background-color: inherit;
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
    color: #712f94;
    border-radius: 5px;
}

.tabcontent {
    position: relative;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    height: 75vh;
}

h3 {
    text-align: center;
    color: white;
    padding-top: 1em;
}

.main-contain {
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 45em;
    margin: 15px auto;
    width: 92%;
    background: white;
    box-shadow: 0px 0px 5px 0px white;
}

.main-contain textarea {
    background: #f18e0f38;
    width: -webkit-fill-available;
    resize: none;
    height: 15em;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.main-contain div select {
    padding: 10px;
}

.main-contain div {
    padding: 9px 0;
}

#code_submit {
    padding: 10px;
    background: #702e95;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    color: white;
    box-shadow: 0px 0px 3px rebeccapurple;
}

#img_contineer{
    box-sizing: border-box;
}


#code_submit:hover,
#code_submit:active {
    background: #f79208;
}

.loader {
    display: none;
    position: absolute;
    border-top: 2px solid #000a31;
    border-radius: 50%;
    top: 49%;
    left: 45%;
    width: 60px;
    height: 60px;
    justify-content: center;
    animation: spinner-loader 0.5s linear infinite;
}

footer.main-div_footer {
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #fffffffa;
    font-size: 12px;
    padding: 3px;
    background-color: #712f93;
    position: fixed;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #77348e;
    cursor: pointer;
}

@keyframes spinner-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}